.App{
    min-height: 100vh;
    overflow-y:  hidden;
}

.NavHeader{
    display: flex;
}

.HeaderButton{
    margin-right: 0.5rem;
    border: none;
    background: inherit;
}

.HeaderButton:hover{
    filter: brightness(90%)  !important ;
    border-bottom: 2px solid #0dcaf0;
}

.filter-button-dark{
    color: #212529;
    border-color: #212529;
    padding: 1rem;
    min-width:5rem;
}

.filter-button-dark:hover {
    color: #fff;
    background-color: #212529;
    border-color: #212529;
}

.filter-button-dark:focus{
  box-shadow: 0 0 0 0.25rem rgba(33, 37, 41, 0.5);
  background-color: #212529;
  color: #fff;

}

.filter-button-danger{
    color: #dc3545;
    border-color: #dc3545;
    padding: 1rem;
    min-width:5rem;
}

.filter-button-danger:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.filter-button-danger:focus{
  box-shadow: 0 0 0 0.25rem rgba(33, 37, 41, 0.5);
  background-color: #dc3545;
  color: #fff;

}

.bg-lavender{
    background-color: lavender;
}

.border-right{
    border-right: 2px solid lightgrey;
}

.filter-slider{
    width: 100%;
    max-width: 50%;
}

.table {
    margin-top: 1em;
    border-collapse: collapse;
    margin-left:auto;
    margin-right:auto;
    font-size: 0.9em;
    min-width:400px;
    padding:0;
    border-radius: 0.5em;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.tableHead > tr {
    cursor:default;
    background-color: rgb(24, 179, 89);
    color:rgb(255, 255, 255);
    font-weight: bold;
}

.tableHead > tr > th , .tableBody > tr > td{
    padding: 1em 1.25em;
}

.tableBody > tr {
    border-bottom: 1px solid lightgrey;
}

.tableBody > tr:nth-of-type(even) {
    background-color: rgb(181, 223, 187);
}

.tableBody > tr:last-of-type {
    border-bottom: 2px solid rgb(24, 179, 89) ;
}
